.obsidian/community-plugins.json
/.obsidian
.obsidian/community-plugins.json

.env
.obsidian/workspace.json

# 공군 및 지상군 자원분석 모델 관련 대용량 참고자료 제외
02_Projects/Work/1. 공군 자원분석 모델/참고자료/

# 기타자료(설치파일 및 특정 인물 관련 자료) 폴더 제외
02_Projects/Work/기타자료/

# (선택 사항) 프로젝트 전체에서 PDF와 EXE 파일 업로드를 방지하고 싶다면 아래 주석을 해제하세요
# *.pdf
# *.exe
